.ticket-info-container {
  position: absolute;
  padding: 10px;
  border-radius: 10px;
  background-color: ghostwhite;
  gap: 10px;
  display: flex;
  border: 1px solid black;
}

.ticket-info-container .ticket-info-element {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-family: sans-serif;
  border: 1px solid black;
}

.transport-taxi {
  background-color: yellow;
}

.transport-bus {
  background-color: green;
  color: white;
}

.transport-black {
  background-color: black;
  color: white;
}

.transport-underground {
  background-color: red;
  color: white;
}

.ticket-info-container .ticket-info-close-button {
  border: none;
  background-color: crimson;
  border-radius: 50%;
  padding: 0 9px;
  color: white;
  cursor: pointer;
  border: 1px solid black;
}

.double-button {
  border: 4px solid transparent;
  padding: 0 8px;
  border-radius: 5px;
  background-color: orange;
}

.double-used {
  border: 4px solid black;
}
