* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Playfair Display", serif;
  background-image: url("/assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16vh 12vw;
  backdrop-filter: blur(3px);
}

.login-box {
  background-color: rgba(240, 230, 210, 0.85);
  padding: 3rem;
  border-radius: 0.5em;
  width: 100%;
  max-width: 600px;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.login-box h1 {
  color: #2c3026;
  font-size: 4.4rem;
  margin-bottom: 2rem;
  text-shadow: 2px 3px 5px #667575;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input {
  padding: 1rem 1rem;
  font-size: 1.2rem;
  border: none;
  margin-bottom: 0.6rem;
  border-radius: 0.2em;
  /* height: 4rem; */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #e2e2e2;
  font-family: serif;
}

input::placeholder {
  color: #3a2c56;
  /* font-size: 1.3em; */
}

button {
  padding: 1rem;
  font-size: 1.7rem;
  font-weight: bold;
  border: none;
  color: #e6e2d9;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0.8rem;
  transition: background-color 0.2s ease;
  background-color: rgba(226, 119, 46);
}

button:hover {
  background-color: rgb(197, 97, 31);
}
