* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Playfair Display", serif;
  background-image: url("/assets/login-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16vh 12vw;
}

.login-box {
  background-color: rgba(4, 21, 29, 0.8);
  padding: 3rem;
  border-radius: 0.5em;
  width: 100%;
  max-width: 600px;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.login-box h1 {
  color: white;
  font-size: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input {
  padding: 1rem 1rem;
  font-size: 1.2rem;
  border: none;
  margin-bottom: 0.6rem;
  border-radius: 0.2em;
  /* height: 4rem; */
  background-color: #e2e2e2;
  font-family: serif;
}

input::placeholder {
  color: #3a2c56;
  /* font-size: 1.3em; */
}

button {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0.8rem;
  transition: background-color 0.2s ease;
  background-color: #204e63;
}

button:hover {
  background-color: #12293a;
}
