* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("/assets/background.png");
  background-size: cover;
  background-position: center;
  position: relative;
  font-family: "Segoe UI", sans-serif;
  backdrop-filter: blur(4px);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
}

#leave-btn {
  background-color: rgba(226, 119, 46);

  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#leave-btn:hover {
  background-color: rgb(183, 92, 31);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  gap: 10px;
}

h1 {
  color: antiquewhite;
  font-size: 60px;
  margin-bottom: 30px;
  text-shadow: -5px 4px 15px rgba(0, 0, 0, 0.9);
}

#waiting-board {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(240, 230, 210, 0.75);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

main div img {
  width: 140px;
}

#room-info {
  color: #323232;
  background-color: rgba(240, 230, 210, 0.85);
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  font-size: 24px;
}

button {
  color: #323232;
  background-color: rgba(240, 230, 210, 0.85);
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  border: 0px;
}

#room {
  display: flex;
}

.copy-icon {
  /* color: #323232; */
  width: 20px;
  height: 20px;
  filter: invert(50%);
}

.copy-icon:active {
  filter: invert(100%);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blinkBorder {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
.player-container {
  animation: fadeSlideIn 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.blinking-badge {
  animation: blinkBorder 1s infinite;
}

.player-container {
  animation: fadeInUp 0.5s ease-out;
}

figure {
  transition: transform 0.3s ease;
}

figure img {
  height: 140px;
  width: 100px;
}

figure:hover {
  transform: scale(1.05);
}

figcaption {
  margin-top: 0.5em;
  text-align: center;
  color: #323232;
  text-align: center;
}

#copy-tooltip {
  color: white;
  font-size: 1.2em;
  margin-top: 1.3em;
}

#timer {
  font-size: 30px;
  color: white;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
  margin-left: 20px;
}
